includes:
  - phpstan-baseline.neon

parameters:
  level: max
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<.+?>::.+?\(\) expects .+? given#'
