parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$path of method Elastic\\\\Migrations\\\\Filesystem\\\\MigrationStorage\\:\\:makeFilePath\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Filesystem/MigrationStorage.php

		-
			message: "#^Property Elastic\\\\Migrations\\\\Filesystem\\\\MigrationStorage\\:\\:\\$defaultPath \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: src/Filesystem/MigrationStorage.php

		-
			message: "#^Property Elastic\\\\Migrations\\\\Repositories\\\\MigrationRepository\\:\\:\\$connection \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: src/Repositories/MigrationRepository.php

		-
			message: "#^Property Elastic\\\\Migrations\\\\Repositories\\\\MigrationRepository\\:\\:\\$table \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: src/Repositories/MigrationRepository.php
